[submodule "src"]
	path = src
	url = https://github.com/hilbix/src.git
[submodule "compile/turmites"]
	path = compile/turmites
	url = https://github.com/hilbix/turmites.git
[submodule "compile/worldedit"]
	path = compile/worldedit
	url = https://github.com/sk89q/WorldEdit.git
[submodule "compile/dynmap/DynmapCoreApi"]
	path = compile/dynmap/DynmapCoreApi
	url = https://github.com/webbukkit/DynmapCoreApi.git
[submodule "compile/dynmap/DynmapCore"]
	path = compile/dynmap/DynmapCore
	url = https://github.com/webbukkit/DynmapCore.git
[submodule "compile/dynmap/dynmap-api"]
	path = compile/dynmap/dynmap-api
	url = https://github.com/webbukkit/dynmap-api.git
[submodule "compile/dynmap/dynmap"]
	path = compile/dynmap/dynmap
	url = https://github.com/webbukkit/dynmap.git
