[submodule "src"]
	path = src
	url = https://github.com/hilbix/src.git
[submodule "compile/turmites"]
	path = compile/turmites
	url = https://github.com/hilbix/turmites.git
[submodule "compile/worldedit"]
	path = compile/worldedit
	url = https://github.com/sk89q/WorldEdit.git
